@import "tailwindcss";
@import "tailwindcss-safe-area";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: #09090b;
    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;

    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@source inline("absolute");
@source inline("bg-base-{200,300}");
@source inline("btn{-block,-circle,-ghost,-primary,-sm,}");
@source inline("footer");
@source inline("md:footer-horizontal");
@source inline("modal{-action,-backdrop,-box,-open,}");
@source inline("navbar{-end,-start,}");
@source inline("p-10");
@source inline("px-3");
@source inline("right-2");
@source inline("shadow-md");
@source inline("top-2");

@utility btn {
    @apply uppercase;
}

@utility modal-box {
    @apply bg-[#23232b];
}
