@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: #09090b;
    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;

    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

/* Sources */
@source inline("brand");
@source inline("btn{-primary,}");
@source inline("footer");
@source inline("loading-overlay");
@source inline("modal{-action,-backdrop,-box,-close,-open,}");
@source inline("navbar{-end,-start,}");

/* Utilities */
@utility brand {
    @apply flex gap-2 items-center;

    .brand-icon {
        @apply h-[36px] w-auto sm:hidden;
    }

    .brand-logo {
        @apply h-[36px] w-auto max-sm:hidden;
    }

    .brand-suffix {
        @apply text-3xl font-bold opacity-80 empty:hidden;
    }

    .brand-dev {
        @apply text-sm opacity-70 self-start;
    }
}

@utility btn {
    @apply uppercase;
}

@utility footer {
    @apply md:footer-horizontal bg-base-200 p-10;
}

@utility loading-overlay {
    @apply flex items-center justify-center fixed inset-[0] z-1000 bg-black;

    transition:
        visibility 0s 0.3s,
        background-color 0.3s;

    .loading-overlay-pulse {
        @apply bottom-[14px] left-[14px] m-auto h-[100px] w-[100px] rounded-full animate-[loading-overlay-pulse_1.5s_infinite];
    }

    figure {
        @apply block h-[128px] w-[128px] relative;
    }

    svg {
        @apply block h-auto w-full;
    }

    svg,
    .loading-overlay-pulse {
        @apply absolute;

        transition:
            visibility 0s 0.3s,
            opacity 0.3s;
    }

    &.loading-overlay-hidden {
        @apply bg-[#0000] invisible;
    }

    &.loading-overlay-hidden svg,
    &.loading-overlay-hidden .loading-overlay-pulse {
        @apply invisible opacity-0;
    }
}

@utility modal-box {
    @apply bg-[#23232b];
}

@utility modal-close {
    @apply btn btn-sm btn-circle btn-ghost absolute right-2 top-2;
}

@utility navbar {
    @apply bg-base-300 shadow-md px-3;
}

/* Keyframes */
@keyframes loading-overlay-pulse {
    0% {
        background-color: #333;
        box-shadow: 0 0 0 0px #333;
    }
    100% {
        background-color: #3333;
        box-shadow: 0 0 0 64px #3333;
    }
}
