@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: #09090b;
    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;

    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

/* Sources */
@source inline("alert{-error,}");
@source inline("brand");
@source inline("btn{-primary,-ghost,-sm,-submit,}");
@source inline("cursor-pointer");
@source inline("dropdown{-content,}");
@source inline("fieldset{-legend,}");
@source inline("footer");
@source inline("form");
@source inline("h1");
@source inline("hidden");
@source inline("input{-error,}");
@source inline("label");
@source inline("loader");
@source inline("loading{-spinner,}");
@source inline("modal{-action,-backdrop,-box,-close,-open,}");
@source inline("navbar{-end,-start,}");
@source inline("pr-0");
@source inline("py-{2,3}");
@source inline("select{-error,}");
@source inline("size-{5,6}");
@source inline("splash");
@source inline("text-error");
@source inline("w-full");

/* Utilities */
@utility brand {
    @apply flex gap-2 items-center;

    .brand-icon {
        @apply h-[36px] w-auto sm:hidden;
    }

    .brand-logo {
        @apply h-[36px] w-auto max-sm:hidden;
    }

    .brand-suffix {
        @apply text-3xl font-bold opacity-80 empty:hidden;
    }

    .brand-dev {
        @apply text-sm opacity-70 self-start;
    }
}

@utility btn {
    @apply uppercase;
}

@utility btn-submit {
    @apply btn btn-block btn-primary;
}

@utility dropdown-content {
    @apply bg-base-200 rounded-box shadow w-max z-1;
}

@utility footer {
    @apply md:footer-horizontal bg-base-200 p-10;
}

@utility form {
    @apply max-w-[640px] ml-auto mr-auto mt-4 mb-4 w-full;
}

@utility h1 {
    @apply text-2xl font-bold mb-6;
}

@utility input {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }

    @variant focus-within {
        outline: none;
    }
}

@utility spinner {
    @apply loading loading-spinner loading-xl fixed bottom-3 right-3;
}

@utility main {
    @apply max-w-[1300px] w-full mx-auto p-4;
}

@utility modal-box {
    @apply bg-[#23232b];
}

@utility modal-close {
    @apply btn btn-sm btn-circle btn-ghost absolute right-2 top-2;
}

@utility navbar {
    @apply bg-base-300 shadow-md px-3;
}

@utility select {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

@utility splash {
    @apply flex items-center justify-center fixed inset-[0] z-1000 bg-black;

    transition:
        visibility 0s 0.3s,
        background-color 0.3s;

    .splash-pulse {
        @apply bottom-[14px] left-[14px] m-auto h-[100px] w-[100px] rounded-full animate-[splash-pulse_1.5s_infinite];
    }

    figure {
        @apply block h-[128px] w-[128px] relative;
    }

    svg {
        @apply block h-auto w-full;
    }

    svg,
    .splash-pulse {
        @apply absolute;

        transition:
            visibility 0s 0.3s,
            opacity 0.3s;
    }

    &.splash-hidden {
        @apply bg-[#0000] invisible;
    }

    &.splash-hidden svg,
    &.splash-hidden .splash-pulse {
        @apply invisible opacity-0;
    }
}

@utility textarea {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

/* Keyframes */
@keyframes splash-pulse {
    0% {
        background-color: #333;
        box-shadow: 0 0 0 0px #333;
    }
    100% {
        background-color: #3333;
        box-shadow: 0 0 0 64px #3333;
    }
}
